/* 
author: Hallousse Yehya (Balderas)
Version: 1.0
url:
*/
/* VARIABLES */
:root {
  --color-main: #000;
  --color-second: #fff;
  --color-special: #4dbf00;

  --padding-section8: 80px;
  --padding-section5: 50px;

  --transition-main: 400ms;
  --transition-second: 1000ms;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
}
/* End Global Rules ------------------------ */
/* ------------------------ Start NAVBAR Section ------------------------ */
.navbar {
  width: 100%;
  height: 50px;
  background-color: var(--color-main);
}

.navbar .navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: var(--color-second);
  font-family: "Sen", sans-serif;
}
.navbar .logo-container {
  flex: 1;
}
.logo-container .logo {
  font-size: 30px;
  color: var(--color-special);
  cursor: pointer;
}
.navbar .menu-container {
  flex: 6;
}
.menu-list {
  display: flex;
}
.menu-list .menu-item {
  margin-left: 30px;
  cursor: pointer;
}

.menu-item.active {
  font-weight: bold;
}

.navbar .profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.profile-container .profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.profile-container .profile-text {
  margin: 0 20px;
  cursor: pointer;
}
.toggle {
  width: 40px;
  height: 20px;
  background-color: var(--color-second);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transition: var(--transition-main);
}
.toggle .toggle-icon {
  color: goldenrod;
}
.toggle .toggle-ball {
  width: 18px;
  height: 18px;
  background-color: var(--color-main);
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition-main);
}
/* ------------------------------------------------ */
/* ------------------------ Start Sidebar section ------------------------ */
.sidebar {
  width: 50px;
  height: 100%;
  background-color: var(--color-main);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.sidebar .sidebar-icon {
  color: var(--color-second);
  font-size: 20px;
  margin-bottom: 40px;
  cursor: pointer;
}
/* ------------------------------------------------ */
/* ------------------------ Start Movie Content section ------------------------ */
.movie {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: var(--color-second);
}
.movie .content {
  margin-left: 50px;
}
.movie .featured {
  height: 50vh;
  padding: 50px;
}
.movie .featured .feat-title {
  width: 200px;
}
.movie .featured .feat-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}
.movie .featured .feat-btn {
  background-color: var(--color-special);
  color: var(--color-second);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  transition: var(--transition-main) ease-in-out;
  cursor: pointer;
}
.movie .featured .feat-btn:hover {
  color: var(--color-special);
  background-color: var(--color-second);
}
/* ------------------------------------------------ */
.movies-list {
  padding: 0 20px;
}
.movies-list .movie-title {
  margin-top: 20px;
}
.movie-wrapper {
  position: relative;
  overflow: hidden;
}
.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all var(--transition-second) ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}
.movie-list-item:hover > img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}
.movie-wrapper .movie-list-item img {
  width: 270px;
  height: 200px;
  object-fit: cover;
  transition: var(--transition-second) ease-in-out;
  border-radius: 20px;
}
.movie-wrapper .movie-list-item span {
  background-color: #33333355;
  border-radius: 15px;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: -5px;
  left: 50px;
  opacity: 0;
  transition: var(--transition-second) ease-in-out;
  user-select: none;
}
.movie-wrapper .movie-list-item p {
  background-color: #33333355;
  border-radius: 15px;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 40px;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: var(--transition-second) ease-in-out;
  user-select: none;
}
/* ----------------------------------------------------------------------------------------------- */
.movie-wrapper .movie-list-item button {
  opacity: 0;
  position: absolute;
  bottom: 10px;
  left: 50px;
  padding: 10px 20px;
  background-color: var(--color-special);
  color: var(--color-second);
  border-radius: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: var(--transition-main) ease-in-out;
}
.movie-wrapper .movie-list-item button:hover {
  color: var(--color-special);
  background-color: var(--color-second);
}
.movie-wrapper .movie-list-item:hover p,
.movie-wrapper .movie-list-item:hover span,
.movie-wrapper .movie-list-item:hover button {
  opacity: 1;
}
.movies-list .arrow-l,
.movies-list .arrow-r {
  font-size: 120px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
  transition: var(--transition-main) ease-in-out;
}
.movies-list .arrow-l {
  left: 0;
}
.movies-list .arrow-r {
  right: 0;
}
.movies-list .arrow-l:hover,
.movies-list .arrow-r:hover {
  color: var(--color-second);
  opacity: 0.7;
}
/* -------------------------Active classes----------------------- */
.movie.active {
  background-color: var(--color-second);
}
.movie-title.active {
  color: var(--color-main);
}
.navbar-container.active {
  background-color: var(--color-second);
  color: var(--color-main);
}
.sidebar.active {
  background-color: var(--color-second);
}
.sidebar.active .sidebar-icon {
  color: var(--color-main);
}
.toggle.active {
  background-color: var(--color-main);
}
.toggle-ball.active {
  background-color: var(--color-second);
  transform: translateX(-20px);
}

/* -------------------------Active classes----------------------- */
