.container {
  width: 80%;
  max-width: auto;
  margin: auto;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: center;
  background: #576e47;
  padding: 20px;
  border-radius: 10px;
}
.section-form h2 {
  font-size: 50px;
  letter-spacing: 2px;
  color: #4dbf00;
}
.section-form form input {
  font-family: "Oswald", sans-serif;
  display: block;
  width: 100%;
  margin: 5px;
  height: 40px;
  padding: 5px;
  border: 1px solid #ddd;
  outline: none;
}
.section-form form input[type="submit"] {
  font-size: 25px;
  text-transform: uppercase;
  height: auto;
  cursor: pointer;
}
.section-form form input[type="submit"]:hover {
  opacity: 0.8;
}
form > a {
  color: aliceblue;
}
.section-form.active {
  background-color: #4dbf00;
}
.section-form h2.active {
  color: #576e47;
}
