.mylist {
  margin-left: 60px;
  margin-top: 10px;
}
.mylist-item {
  margin-right: 30px;
  position: relative;
}
.mylist-item img {
  width: 270px;
  height: 200px;
  object-fit: cover;
  transition: var(--transition-second) ease-in-out;
  border-radius: 20px;
}
.mylist-item:hover > img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}
.mylist-item span {
  background-color: #33333355;
  border-radius: 15px;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: -5px;
  left: 50px;
  opacity: 0;
  transition: var(--transition-second) ease-in-out;
  user-select: none;
}
.mylist-item p {
  background-color: #33333355;
  border-radius: 15px;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 40px;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: var(--transition-second) ease-in-out;
  user-select: none;
}
.mylist-item button {
  opacity: 0;
  position: absolute;
  bottom: 10px;
  left: 50px;
  padding: 10px 20px;
  background-color: var(--color-special);
  color: var(--color-second);
  border-radius: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: var(--transition-main) ease-in-out;
}
.mylist-item button:hover {
  color: var(--color-special);
  background-color: var(--color-second);
}
.mylist-item:hover p,
.mylist-item:hover span,
.mylist-item:hover button {
  opacity: 1;
}
